################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/seleniumautomationpractice/.vs/seleniumautomationpractice
/seleniumautomationpractice/seleniumautomationpractice/obj
